/* Стилизация элементов списка: замена стандартного маркера на символ ✔ */
ol {
    list-style: none !important;
}

ol > li {
    position: relative !important;
    margin: 10px !important;
}

ol > li:before {
    content: "✔" !important;
    line-height: 24px !important;
    color: #1f5bff !important;
    font-size: 21px;
    padding: 10px;
}
